RMAD dashboard - VManager script.txt
[{"id":"a66ef2e0.5a487","type":"tab","label":"Verma Dashboard","disabled":false,"info":""},{"id":"aabadc9.b41182","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":280,"wires":[]},{"id":"50d9abf8.e86bb4","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":2,"width":0,"height":0,"name":"","label":"Num AUX","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":980,"wires":[]},{"id":"c8f22525.372a48","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":5,"width":0,"height":0,"name":"","label":"Num Prosessing","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":540,"wires":[]},{"id":"af9a946f.b31288","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":3,"width":0,"height":0,"name":"","label":"Num Events","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":380,"wires":[]},{"id":"a542fd84.afbba","type":"function","z":"a66ef2e0.5a487","name":"Update AUX array","func":"var msg_aux = msg;\n\nvar aux_array = flow.get('aux_array') || []\n\n\nif (Object.keys(aux_array).length === 0){\n    \n    var mac_list = flow.get('sensorlist_mac');\n    var km_list = flow.get('sensorlist_km');\n    \n    var num_motes = mac_list.length;\n    var temp=[];\n    var string='';\n    \n    for (var i = 0; i < num_motes; i++){\n        \n        aux_array[i] = {mac_adress: mac_list[i],\n                                km: km_list[i],\n                                state: string,\n                                battery: temp,\n                                temperature: temp,\n                                solcelle: temp,\n                                aux: temp, \n                                hw: temp,\n                                sw: temp,\n                                charge_enabled: temp,\n                                acmp_vddref: temp,\n                                packet_sent_utc: temp}\n                                \n\n    } // true\n}\n\n\nvar new_mac = true;\n\nfor (i = 0; i < aux_array.length; i++){\n    \n        if (msg_aux.payload.mac_adress == aux_array[i].mac_adress){\n            new_mac = false;\n            break;\n            \n        }\n\n\n}\n\n if (new_mac === true){\n     \n     aux_array[i] = {mac_adress: msg_aux.payload.mac_adress,\n                                km: temp,\n                                state: string,\n                                battery: temp,\n                                temperature: temp,\n                                solcelle: temp,\n                                aux: temp, \n                                hw: temp,\n                                sw: temp,\n                                charge_enabled: temp,\n                                acmp_vddref: temp,\n                                packet_sent_utc: temp}\n                                \n\n    } // true\n     \n if (msg_aux.payload.packet_type == \"aux_data\"){\n     \n var solcelle = msg_aux.payload.aux[0]*7.5/65535;\n\n                aux_array[i] = {mac_adress: aux_array[i].mac_adress,\n                                km: aux_array[i].km,\n                                state: aux_array[i].state,\n                                battery: msg_aux.payload.battery,\n                                temperature: msg_aux.payload.temperature,\n                                solcelle: solcelle.toFixed(3),\n                                aux: msg_aux.payload.aux, \n                                hw: msg_aux.payload.config.hw,\n                                sw: msg_aux.payload.config.sw,\n                                charge_enabled: msg_aux.payload.state.charge_enabled,\n                                acmp_vddref: msg_aux.payload.state.acmp_vddref,\n                                packet_sent_utc: new Date(msg_aux.payload.packet_sent)\n                \n               };\n}\n\nelse if (msg_aux.payload.packet_type == \"moteStateChanged\"){\n    \n                aux_array[i] = {mac_adress: aux_array[i].mac_adress,\n                                km: aux_array[i].km,\n                                state: msg_aux.payload.state,\n                                battery: aux_array[i].battery,\n                                temperature: aux_array[i].temperature,\n                                solcelle: aux_array[i].solcelle,\n                                aux: aux_array[i].aux, \n                                hw: aux_array[i].hw,\n                                sw: aux_array[i].sw,\n                                charge_enabled: aux_array[i].charge_enabled,\n                                acmp_vddref: aux_array[i].acmp_vddref,\n                                packet_sent_utc: aux_array[i].packet_sent_utc\n                \n               };\n    \n}\n\nflow.set('aux_array', aux_array);\n\n\n//var aux_array_sorted = aux_array.sort(function compare(a,b){\n//    if(a.mac_adress < b.mac_adress){return -1}\n//    if(a.mac_adress > b.mac_adress){return 1}\n//});\n\nvar string2 = {payload: aux_array};\nvar length = {payload: aux_array.length}\n\n\nreturn [string2,length];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":870,"y":920,"wires":[["ada9f14f.3591d","fe490c6f.045de"],["50d9abf8.e86bb4"]]},{"id":"ada9f14f.3591d","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":860,"wires":[]},{"id":"8586b11b.55ec6","type":"function","z":"a66ef2e0.5a487","name":"Update Prosessing array","func":"var msg_prosessing = msg;\n\nvar prosessing_array = flow.get('prosessing_array') || []\n\n\n\nfor (i = 0; i < prosessing_array.length; i++){\n    \n        if (msg_prosessing.payload.mac_adress == prosessing_array[i].mac_adress){\n\n            \n            break;\n            \n        }\n\n     \n}\n\n\n                prosessing_array[i] = {mac_adress: msg_prosessing.payload.mac_adress,\n                                Min_samples: msg_prosessing.payload.Min_samples,\n                                Sample_cont: msg_prosessing.payload.Sample_cont,\n                                Max_samples: msg_prosessing.payload.Max_samples,\n                                G1_std_lim: msg_prosessing.payload.G1_std_lim,\n                                G2_std_lim: msg_prosessing.payload.G2_std_lim,\n                                //G3_std_lim: msg_prosessing.payload.G3_std_lim,\n                                //G4_std_lim: msg_prosessing.payload.G4_std_lim,\n                                G1_cont_lim: msg_prosessing.payload.G1_cont_lim,\n                                G2_cont_lim: msg_prosessing.payload.G2_cont_lim,\n                                //G3_cont_lim: msg_prosessing.payload.G3_cont_lim,\n                                //G4_cont_lim: msg_prosessing.payload.G4_cont_lim,\n            \n                                Trig_level: msg_prosessing.payload.Trig_level,\n                                //Start_delay: msg_prosessing.payload.Start_delay,\n                                //Trig_ch0: msg_prosessing.payload.Trig_ch0,\n                                //Trig_ch1: msg_prosessing.payload.Trig_ch1,\n                                //Amp_trig: msg_prosessing.payload.Amp_trig,\n                                //Amp_logging: msg_prosessing.payload.Amp_logging,\n\n                                packet_sent_utc: new Date(msg_prosessing.payload.packet_sent)\n                \n                \n            };\n\n\n\n\nflow.set('prosessing_array', prosessing_array);\n\n\nvar prosessing_array_sorted = prosessing_array.sort(function compare(a,b){\n    if(a.mac_adress < b.mac_adress){return -1}\n    if(a.mac_adress > b.mac_adress){return 1}\n});\n\nvar string = {payload: prosessing_array_sorted};\nvar length = {payload: prosessing_array.length}\n\n\nreturn [string,length];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":960,"y":520,"wires":[["b854aeb8.de519","8880cf2a.3d60a"],["c8f22525.372a48"]]},{"id":"61993e94.0b3ca","type":"function","z":"a66ef2e0.5a487","name":"Update Event array","func":"var msg_event = msg;\n\nvar event_array = flow.get('event_array2') || []\n\n\nfor (var i = 0; i < event_array.length; i++){\n    \n        if (msg_event.payload.mac_adress == event_array[i].mac_adress){\n            \n            break;\n            \n        }\n\n\n}\n\n\n             event_array[i] = {mac_adress: msg_event.payload.mac_adress,\n                              trigg_time_utc: new Date(msg_event.payload.trigg_timestamp),\n                              calc_time_utc: new Date(msg_event.payload.calc_timestamp),\n                              G1_std: msg_event.payload.G1_std,\n                              G2_std: msg_event.payload.G2_std,\n                              G3_std: msg_event.payload.G3_std,\n                              G4_std: msg_event.payload.G4_std,\n                              G1_mean: msg_event.payload.G1_mean,\n                              G2_mean: msg_event.payload.G2_mean,\n                              G3_mean: msg_event.payload.G3_mean,\n                              G4_mean: msg_event.payload.G4_mean,\n                              prev_sps: msg_event.payload.prev_sps,\n                              flash_ID: msg_event.payload.flash_ID\n            \n            };\n\n\n\nflow.set('event_array2', event_array);\n\n\nvar event_array_sorted = event_array.sort(function compare(a,b){\n    if(a.mac_adress < b.mac_adress){return -1}\n    if(a.mac_adress > b.mac_adress){return 1}\n});\n\nvar string = {payload: event_array_sorted};\nvar length = {payload: event_array.length}\n\n\nreturn [string,length];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":910,"y":360,"wires":[["aabadc9.b41182","2639384f.448f68"],["af9a946f.b31288"]]},{"id":"b854aeb8.de519","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1280,"y":440,"wires":[]},{"id":"a3daaa4e.ec4fd8","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":4,"width":0,"height":0,"name":"","label":"Num Raw Data","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":760,"wires":[]},{"id":"32f75d15.f0a452","type":"function","z":"a66ef2e0.5a487","name":"Update Raw array","func":"var msg_raw = msg;\n\nvar raw_array = flow.get('raw_array') || []\n\n\nfor (i = 0; i < raw_array.length; i++){\n    \n        if (msg_raw.payload.mac_adress == raw_array[i].mac_adress && msg_raw.payload.flash_ID == raw_array[i].flash_ID){\n\n            \n            break;\n            \n        }\n     \n\n     \n}\n\n\n                raw_array[i] = {mac_adress: msg_raw.payload.mac_adress,\n                                flash_ID: msg_raw.payload.flash_ID,\n                                scan_start: msg_raw.payload.scan_start,\n                                scan_stop: msg_raw.payload.scan_stop,\n                                samples: msg_raw.payload.samples,\n                                packet_sent_utc: new Date(msg_raw.payload.packet_sent)\n                \n                \n            };\n\n\n\nflow.set('raw_array', raw_array);\n\n\nvar raw_array_sorted = raw_array.sort(function compare(a,b){\n    if(a.mac_adress < b.mac_adress){return -1}\n    if(a.mac_adress > b.mac_adress){return 1}\n});\n\nvar string = {payload: raw_array_sorted};\nvar length = {payload: raw_array.length}\n\n\nreturn [string,length];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":920,"y":740,"wires":[["d7313c8c.61d55","f5f6b44.be37448"],["a3daaa4e.ec4fd8"]]},{"id":"d7313c8c.61d55","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1260,"y":660,"wires":[]},{"id":"3db34da7.fc2bc2","type":"function","z":"a66ef2e0.5a487","name":"Mote info array","func":"var msg_neighbor = msg;\n\nvar neighbor_array = flow.get('neighbor_array12') || []\n//var mac_array = flow.get('mac_array')\n\nif (Object.keys(neighbor_array).length === 0){\n    \n    var mac_list = flow.get('sensorlist_mac');\n    var km_list = flow.get('sensorlist_km');\n    \n    var num_motes = mac_list.length;\n    var temp=0;\n    var string=[];\n    \n    for (var i = 0; i < num_motes; i++){\n        \n        neighbor_array[i] = {mac_adress: mac_list[i],\n                                km: km_list[i],\n                                state: string,\n                                neighbor_mac_adress: string,\n                                neighbor_rssi: string,\n                                mote_voltage: string\n                                }\n        \n    } // true\n}\n\nvar new_mac = true;\n\nfor (i = 0; i < neighbor_array.length; i++){\n    \n        if (msg_neighbor.payload.mac_adress == neighbor_array[i].mac_adress){\n\n            new_mac = false\n            break;\n            \n            \n        }\n\n}\n\nif (new_mac === true){\n    \n    neighbor_array[i] = {mac_adress: msg_neighbor.payload.mac_adress,\n                                km: string,\n                                state: string,\n                                neighbor_mac_adress: string,\n                                neighbor_rssi: string,\n                                mote_voltage: string\n                                }\n    \n    \n}\n\nif (msg_neighbor.payload.packet_type == \"neighborHealthReport\"){\n\n                neighbor_array[i] = {mac_adress: neighbor_array[i].mac_adress,\n                                    km: neighbor_array[i].km,\n                                    state: neighbor_array[i].state,\n                                    neighbor_mac_adress: msg.payload.neighbor_mac_adress,\n                                    neighbor_rssi: msg.payload.neighbor_rssi,\n                                    mote_voltage: neighbor_array[i].mote_voltage\n                                    \n                \n                                };\n            \n} else if (msg_neighbor.payload.packet_type == \"moteStateChanged\"){\n    \n                neighbor_array[i] = {mac_adress: neighbor_array[i].mac_adress,\n                                    km: neighbor_array[i].km,\n                                    state: msg_neighbor.payload.state,\n                                    neighbor_mac_adress: neighbor_array[i].neighbor_mac_adress,\n                                    neighbor_rssi: neighbor_array[i].neighbor_rssi,\n                                    mote_voltage: neighbor_array[i].mote_voltage,\n                \n                                };\n    \n    \n    \n} else if (msg_neighbor.payload.packet_type == \"deviceHealthReport\"){\n    \n                neighbor_array[i] = {mac_adress: neighbor_array[i].mac_adress,\n                                    km: neighbor_array[i].km,\n                                    state: neighbor_array[i].state,\n                                    neighbor_mac_adress: neighbor_array[i].neighbor_mac_adress,\n                                    neighbor_rssi: neighbor_array[i].neighbor_rssi,\n                                    mote_voltage: msg_neighbor.payload.mote_voltage\n                \n                                };\n    \n    \n    \n}\n\nflow.set('neighbor_array12', neighbor_array);\n\n\n//var neighbor_array_sorted = neighbor_array.sort(function compare(a,b){\n//    if(a.mac_adress < b.mac_adress){return -1}\n//    if(a.mac_adress > b.mac_adress){return 1}\n//});\n\nvar string2 = {payload: neighbor_array};\nvar length = {payload: neighbor_array.length}\n\n\nreturn [string2,length];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1340,"wires":[["18fadd52.2d4763","a2398ed6.d0295"],["a51a0b43.ca3ff8"]]},{"id":"a51a0b43.ca3ff8","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":1,"width":0,"height":0,"name":"","label":"Num Neighbor Reports","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":1360,"wires":[]},{"id":"18fadd52.2d4763","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":1280,"wires":[]},{"id":"c3514f9e.0d24c","type":"function","z":"a66ef2e0.5a487","name":"Update Mote array","func":"var msg_mote = msg;\n\n\nvar mote_array = flow.get('mote_array') || []\n\nvar k=0;\n\nvar mote_state\nvar mote_packet_set\nvar mote_rssi\n\n\nfor (i = 0; i < mote_array.length; i++){\n    \n        if (msg_mote.payload.mac_adress == mote_array[i].mac_adress){\n           \n            //mote_state = mote_array[i].state || []\n            mote_rssi = mote_array[i].neighbor_rssi || []\n            //mote_packet_set = mote_array[i].packet_sent_utc || []\n            \n            if (msg_mote.payload.packet_type == \"neighborHealthReport\"){\n\n                    mote_array[i] = {mac_adress: msg_mote.payload.mac_adress,\n                             \n                             state: mote_array[i].state,  \n                             //neighbor_mac_adress: msg.payload.neighbor_mac_adress,\n                             neighbor_rssi: msg_mote.payload.neighbor_rssi,\n                             //num_neighbors: msg.payload.neighbor_mac_adress.length,\n                             packet_sent_utc: mote_array[i].packet_sent_utc\n                            };\n            \n                    }\n        \n            break;\n        }     \n\n\n}   \n\n\n   \n if (msg_mote.payload.packet_type == \"moteStateChanged\"){\n     \n            mote_array[i] = {mac_adress:msg_mote.payload.mac_adress,\n                              state: msg_mote.payload.state,\n                              neighbor_rssi: mote_rssi, \n                              packet_sent_utc: new Date(msg_mote.payload.packet_sent)\n            \n            }\n    \n }\n\n\nflow.set('mote_array', mote_array);\n\nfor (i = 0; i < mote_array.length; i++){\n    \n    if (mote_array[i].state == 'operational'){\n        k=k+1;\n    }\n    \n}\n\nvar mote_array_sorted = mote_array.sort(function compare(a,b){\n    if(a.packet_sent_utc < b.packet_sent_utc){return 1}\n    if(a.packet_sent_utc > b.packet_sent_utc){return -1}\n});\n\nvar string = {payload: mote_array_sorted};\nvar length = {payload: mote_array.length}\nvar length2 = {payload: k}\n\nreturn [string,length,length2];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1180,"wires":[["97dcc699.569698","bf1a16ff.de3118"],[],[]]},{"id":"97dcc699.569698","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":1160,"wires":[]},{"id":"6ca7b7d0.f0ff48","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":7,"width":0,"height":0,"name":"","label":"RMAD Packet Counter","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":620,"wires":[]},{"id":"d57ba155.3e183","type":"counter","z":"a66ef2e0.5a487","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":2,"x":920,"y":620,"wires":[["6ca7b7d0.f0ff48"],[]]},{"id":"3dd43127.a8e4ee","type":"function","z":"a66ef2e0.5a487","name":"Mesh Info array","func":"var msg_mote_info = msg;\n\nvar mote_info_array = flow.get('mote_info_array') || []\n\n\nif (Object.keys(mote_info_array).length === 0){\n    \n    var mac_list = flow.get('sensorlist_mac');\n    var km_list = flow.get('sensorlist_km');\n    \n    var num_motes = mac_list.length;\n    var temp=[];\n    var string='';\n    \n    for (var i = 0; i < num_motes; i++){\n        \n        mote_info_array[i] = {mac_adress: mac_list[i],\n                                km: km_list[i],\n                                state: string,\n                                numParents: temp,\n                                numGoodNeighbors: temp,\n                                numNeighbors: temp,\n                                reliability: temp,\n                                avgLatency: temp,\n                                neighbor_rssi: temp,\n                                neighbor_mac_adress: temp,\n                                avgHops: temp,\n                                numLinks: temp,\n                                numJoins: temp,\n                                mote_voltage: temp,\n                                packet_sent_utc: temp}\n        \n    \n    } // true\n}\n\nvar total_numlinks = 0 \nvar new_mac = true;\n\n\nfor (i = 0; i < mote_info_array.length; i++){\n    \n \n        if (msg_mote_info.payload.macAddress.replace(/-/g, \"\") == mote_info_array[i].mac_adress){\n\n            new_mac = false;\n            break;\n            \n        }\n\n        \n}\n     \n \nif (new_mac === true){\n    \n    \n    mote_info_array[i] = {mac_adress: msg_mote_info.payload.macAddress.replace(/-/g, \"\"),\n                                km: string,\n                                state: string,\n                                numParents: temp,\n                                numGoodNeighbors: temp,\n                                numNeighbors: temp,\n                                reliability: temp,\n                                avgLatency: temp,\n                                neighbor_rssi: temp,\n                                neighbor_mac_adress: temp,\n                                avgHops: temp,\n                                numLinks: temp,\n                                numJoins: temp,\n                                mote_voltage: temp,\n                                packet_sent_utc: temp}\n    \n    \n    \n}\n \nif (msg_mote_info.payload.moteType == \"MOTE\"){\n     \n        mote_info_array[i] = {mac_adress: mote_info_array[i].mac_adress,\n                              km: mote_info_array[i].km,\n                              state: msg_mote_info.payload.state,\n                              numParents: msg_mote_info.payload.numParents,\n                              numGoodNeighbors: msg_mote_info.payload.numGoodNeighbors,\n                              numNeighbors: msg_mote_info.payload.numNeighbors,\n                              reliability: msg_mote_info.payload.reliability,\n                              avgLatency: msg_mote_info.payload.avgLatency,\n                              neighbor_rssi: mote_info_array[i].neighbor_rssi,\n                              neighbor_mac_adress: mote_info_array[i].neighbor_mac_adress,\n                              avgHops: msg_mote_info.payload.avgHops,\n                              numLinks: msg_mote_info.payload.numLinks,\n                              numJoins: msg_mote_info.payload.numJoins,\n                              mote_voltage: mote_info_array[i].mote_voltage,\n                              packet_sent_utc: new Date(msg_mote_info.payload.stateSysTime)\n                \n                \n            }\n }           \n            \nelse if (msg_mote_info.payload.packet_type == \"neighborHealthReport\"){\n\n        mote_info_array[i] = {mac_adress: mote_info_array[i].mac_adress,\n                              km: mote_info_array[i].km,\n                              state: mote_info_array[i].state,\n                              numParents: mote_info_array[i].numParents,\n                              numGoodNeighbors: mote_info_array[i].numGoodNeighbors,\n                              numNeighbors: mote_info_array[i].numNeighbors,\n                              reliability: mote_info_array[i].reliability,\n                              avgLatency: mote_info_array[i].avgLatency,\n                              neighbor_rssi: msg_mote_info.payload.neighbor_rssi,\n                              neighbor_mac_adress: msg_mote_info.payload.neighbor_mac_adress,\n                              avgHops: mote_info_array[i].avgHops,\n                              numLinks: mote_info_array[i].numLinks,\n                              numJoins: mote_info_array[i].numJoins,\n                              mote_voltage: mote_info_array[i].mote_voltage,\n                              packet_sent_utc: mote_info_array[i].packet_sent_utc\n            \n    }\n}\n\nelse if (msg_mote_info.payload.packet_type == \"deviceHealthReport\"){\n    \n            mote_info_array[i] = {mac_adress: mote_info_array[i].mac_adress,\n                              km: mote_info_array[i].km,\n                              state: mote_info_array[i].state,\n                              numParents: mote_info_array[i].numParents,\n                              numGoodNeighbors: mote_info_array[i].numGoodNeighbors,\n                              numNeighbors: mote_info_array[i].numNeighbors,\n                              reliability: mote_info_array[i].reliability,\n                              avgLatency: mote_info_array[i].avgLatency,\n                              neighbor_rssi: mote_info_array[i].neighbor_rssi,\n                              neighbor_mac_adress: mote_info_array[i].neighbor_mac_adress,\n                              avgHops: mote_info_array[i].avgHops,\n                              numLinks: mote_info_array[i].numLinks,\n                              numJoins: mote_info_array[i].numJoins,\n                              mote_voltage: msg_mote_info.payload.mote_voltage,\n                              packet_sent_utc: mote_info_array[i].packet_sent_utc\n                                    \n                \n                };\n    \n    \n    \n}\n\nelse if (msg_mote_info.payload.packet_type == \"moteStateChanged\"){\n     \n \n            mote_info_array[i] = {mac_adress: mote_info_array[i].mac_adress,\n                                km: mote_info_array[i].km,\n                                state: msg_mote_info.payload.state,\n                                numParents: mote_info_array[i].numParents,\n                                numGoodNeighbors: mote_info_array[i].numGoodNeighbors,\n                                numNeighbors: mote_info_array[i].numNeighbors,\n                                reliability: mote_info_array[i].reliability,\n                                avgLatency: mote_info_array[i].avgLatency,\n                                neighbor_rssi: mote_info_array[i].neighbor_rssi,\n                                neighbor_mac_adress: mote_info_array[i].neighbor_mac_adress,\n                                avgHops: mote_info_array[i].avgHops,\n                                numLinks: mote_info_array[i].numLinks,\n                                numJoins: mote_info_array[i].numJoins,\n                                mote_voltage: mote_info_array[i].mote_voltage,\n                                packet_sent_utc: mote_info_array[i].packet_sent_utc\n                                    \n                \n             };\n    \n }\n\nfor (i = 0; i < mote_info_array.length; i++){\n    \n    total_numlinks = total_numlinks + mote_info_array[i].numLinks\n    \n}\n\n\nflow.set('mote_info_array', mote_info_array);\n\n\nvar string2 = {payload: mote_info_array};\nvar length = {payload: mote_info_array.length}\nvar links = {payload: total_numlinks}\n\nreturn [string2,length,links];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":3080,"y":1140,"wires":[["3b30aa08.a2a4c6"],["76e01fb8.6c2e"],[]]},{"id":"76e01fb8.6c2e","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":6,"width":0,"height":0,"name":"","label":"Num Mote Info","format":"{{msg.payload}}","layout":"row-spread","x":3360,"y":1200,"wires":[]},{"id":"3e48bfb1.9c0f8","type":"function","z":"a66ef2e0.5a487","name":"Update Aps links array","func":"var msg_aps_link = msg;\n\nvar aps_link_array = flow.get('aps_array_all') || []\n\nvar aps_url_array = flow.get('aps_url_array') || []\n\nvar total_numlinks = 0 \n\nfor (i = 0; i < aps_link_array.length; i++){\n    \n \n        if (msg_aps_link.url == aps_url_array[i]){\n\n            \n            break;\n            \n        }\n\n        \n}\n     \n \n        aps_link_array[i] = {url: aps_url_array[i].replace(/-/g, \"\"),\n                             num_aps_links: msg_aps_link.payload.links.length\n                             \n                \n                \n            }\n\n\n\nvar string = {payload: aps_link_array};\n\n\nreturn [string];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3460,"y":1540,"wires":[["9a236fa5.7db48","b6ce1ee7.b8e65"]]},{"id":"9a236fa5.7db48","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3750,"y":1500,"wires":[]},{"id":"d9dd0d3c.4950b","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":9,"width":0,"height":0,"name":"","label":"Num Mote State","format":"{{msg.payload}}","layout":"row-spread","x":3120,"y":580,"wires":[]},{"id":"eaade86.d1a0f18","type":"ui_text","z":"a66ef2e0.5a487","group":"b0e28a7d.d60108","order":8,"width":0,"height":0,"name":"","label":"Num Mote Operational","format":"{{msg.payload}}","layout":"row-spread","x":3140,"y":620,"wires":[]},{"id":"8ebbd0b4.0a159","type":"function","z":"a66ef2e0.5a487","name":"Update Mac List","func":"var msg_mac = msg;\n\nvar mac_array = [] // = flow.get('mac_array_all') || []\n\nvar exist = false;\nvar i;\nvar k=0;\n\nvar num_motes = {payload: msg_mac.payload.motes.length};\n\nfor (i = 0; i < msg_mac.payload.motes.length; i++){\n    \n    mac_array[i] = msg_mac.payload.motes[i].macAddress.replace(/-/g, \"\")\n    \n    if (msg_mac.payload.motes[i].state == 'operational'){\n        k=k+1;\n    }\n    \n}\n\nvar num_operational = {payload: k};\n\n\n//if (!exist){\n    \n//    mac_array[i] = msg_mac.payload.mac_adress;\n    flow.set('mac_array_all', mac_array);\n    \n    \n//}\n\nvar mac_array_string = {payload: mac_array};\n\n//if (!exist){\n    \n    flow.set('sorted_mac_array_all', mac_array.sort());\n    \n//}\n\n\nreturn [mac_array_string,num_motes,num_operational];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":2900,"y":560,"wires":[["857b7e0b.4ee4a"],["d9dd0d3c.4950b"],["eaade86.d1a0f18"]]},{"id":"857b7e0b.4ee4a","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3130,"y":500,"wires":[]},{"id":"6130ab31.3bad84","type":"file in","z":"a66ef2e0.5a487","name":"","filename":"/home/kviyme/sensorliste.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"ascii","x":2220,"y":300,"wires":[["512f1f95.7c5a6"]]},{"id":"95745703.7fe9d8","type":"debug","z":"a66ef2e0.5a487","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2850,"y":300,"wires":[]},{"id":"e3dc1f5.e451be","type":"inject","z":"a66ef2e0.5a487","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","x":1930,"y":300,"wires":[["6130ab31.3bad84"]]},{"id":"512f1f95.7c5a6","type":"csv","z":"a66ef2e0.5a487","name":"","sep":"\\t","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2470,"y":300,"wires":[["7b492e49.3c763"]]},{"id":"7b492e49.3c763","type":"function","z":"a66ef2e0.5a487","name":"","func":"\nvar sensorlist = msg;\n\nvar numsensor = sensorlist.payload.length;\n\nvar mac = [];\nvar mac_list = [];\nvar km_list = [];\n\nfor (var j = 0; j < numsensor ; j++){\n    \n      mac = sensorlist.payload[j];\n      mac_list[j] = mac.col1;\n      km_list[j] = mac.col2\n    //  km[j] = 2;\n    \n}\n\n\n\nvar mac_list_string = {payload: mac_list};\nvar km_list_string = {payload: km_list};\n\nflow.set('sensorlist_mac',  mac_list);\nflow.set('sensorlist_km',  km_list);\n\nreturn [mac_list_string,km_list_string];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2660,"y":300,"wires":[["95745703.7fe9d8"],["95745703.7fe9d8"]]},{"id":"39896628.a4fc3a","type":"function","z":"a66ef2e0.5a487","name":"Mote State List","func":"var msg_mac = msg;\n\nvar mote_state_array = []; // = flow.get('mac_array_all') || []\n\nvar mac_list = flow.get('sensorlist_mac');\nvar km_list = flow.get('sensorlist_km');\n\n\n\nvar num_motes = mac_list.length;\n\nvar num_states = msg_mac.payload.motes.length;\n\nvar state = [];\n\nfor (var i = 0; i < num_motes; i++){\n    \n    state[i] = '';\n    \n    for (var j = 0; j < num_states; j++){\n    \n        if (mac_list[i] == msg_mac.payload.motes[j].macAddress.replace(/-/g, \"\")){\n\n            \n                state[i] = msg_mac.payload.motes[j].state\n                //state[i] = 'test';\n            \n            }else{\n                //state[i] = msg_mac.payload.motes[j].state\n                //state[i] = msg_mac.payload.motes[j].macAddress.replace(/-/g, \"\");\n            }\n    \n    }\n    \n    mote_state_array[i] = {mac_adress:mac_list[i], km:km_list[i], mote_state:state[i]};\n    \n//    mac_array[i] = msg_mac.payload.motes[i].macAddress.replace(/-/g, \"\")\n    \n//    if (msg_mac.payload.motes[i].state == 'operational'){\n//        k=k+1;\n//    }\n    \n}\n\n//var num_operational = {payload: k};\n\n\nvar mote_state_array_string = {payload: mote_state_array};\nvar mac_list_string = {payload: mac_list};\nvar km_list_string = {payload: km_list};\n\n\n\nreturn [mote_state_array_string];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2900,"y":420,"wires":[[]]},{"id":"1a74f0d2.dfa4bf","type":"link in","z":"a66ef2e0.5a487","name":"aux in","links":["cb5e2bc6.878378"],"x":695,"y":920,"wires":[["a542fd84.afbba","32f75d15.f0a452"]]},{"id":"bf213e07.ea94a","type":"link in","z":"a66ef2e0.5a487","name":"param in","links":["63907306.2a4bcc"],"x":695,"y":520,"wires":[["8586b11b.55ec6","d57ba155.3e183"]]},{"id":"13e9f96e.64e077","type":"link in","z":"a66ef2e0.5a487","name":"state in","links":["833a6e70.e068f"],"x":675,"y":1180,"wires":[["3db34da7.fc2bc2","29320c2.66f67f4","c3514f9e.0d24c","a542fd84.afbba"]]},{"id":"14e3d371.41a11d","type":"link in","z":"a66ef2e0.5a487","name":"event in","links":["75000f6b.56973"],"x":695,"y":360,"wires":[["61993e94.0b3ca","d57ba155.3e183"]]},{"id":"fcccd3f7.9128","type":"link in","z":"a66ef2e0.5a487","name":"raw in","links":["a4d0f7c6.303718"],"x":695,"y":740,"wires":[["32f75d15.f0a452","d57ba155.3e183"]]},{"id":"595b00bf.2aab5","type":"link in","z":"a66ef2e0.5a487","name":"negihbour in","links":["60b95068.6ced9"],"x":675,"y":1260,"wires":[["3db34da7.fc2bc2","29320c2.66f67f4","c3514f9e.0d24c"]]},{"id":"cd23bcc0.d79c8","type":"link in","z":"a66ef2e0.5a487","name":"devicehealt in","links":["e58f3723.1a2c78"],"x":675,"y":1340,"wires":[["3db34da7.fc2bc2","29320c2.66f67f4"]]},{"id":"69a87f79.393c","type":"inject","z":"a66ef2e0.5a487","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":2370,"y":460,"wires":[["964cc014.1ad7"]]},{"id":"964cc014.1ad7","type":"https-node","z":"a66ef2e0.5a487","name":"Get motes","method":"GET","ret":"obj","url":"https://40.69.23.78:8888/manager/v1/motes","authorized":false,"agent":false,"x":2600,"y":460,"wires":[["8ebbd0b4.0a159","39896628.a4fc3a","857b7e0b.4ee4a"]]},{"id":"18e8db34.e93fe5","type":"function","z":"a66ef2e0.5a487","name":"Get mote info","func":"\nvar mac_address = flow.get('mac_address') || 0;\n\n\nvar mac_1  = mac_address.payload.toString().substr(0,2);\nvar mac_2  = mac_address.payload.toString().substr(2,2);\nvar mac_3  = mac_address.payload.toString().substr(4,2);\nvar mac_4  = mac_address.payload.toString().substr(6,2);\nvar mac_5  = mac_address.payload.toString().substr(8,2);\nvar mac_6  = mac_address.payload.toString().substr(10,2);\nvar mac_7  = mac_address.payload.toString().substr(12,2);\nvar mac_8  = mac_address.payload.toString().substr(14,2);\n\n\n//var b = new Buffer(msg.payload, 'hex');\n//var s = b.toString('base64');\n\nvar s = 0\n\n//msg.payload = new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x03, 0x00, 0x00, 0x17]);//subscribe response - send gettime\n\n//var msg_out = {payload: new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x12, 0x00, 0x00, 0x2c ,0x00, 0x17, 0x0d, 0x00, 0x00, 0x30, 0xe2, 0xa9, 0x01, 0xf0, 0xb9, 0xf0, 0xb9,  0x00, msg.payload, mac_1, mac_2, mac_3, mac_4, mac_5, mac_6, mac_7, mac_8])};//set transport mode\n\n//var msg_out = {payload: new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x12, 0x00, 0x00, 0x2c , mac_1, mac_2, mac_3, mac_4, mac_5, mac_6, mac_7, mac_8, 0x01, 0xf0, 0xb9, 0xf0, 0xb9,  0x00, msg.payload])};//set transport mode\n\n\n//mac = new Buffer ([0x00, 0x17, 0x0d, 0x00, 0x00, 0x30, 0xe2, 0xa9]);//set transport mode\n\n//tail = new Buffer ([0x01, 0xf0, 0xb9, 0xf0, 0xc9, 0x00, 0x0c]);//set transport mode\n\n//var msg_out = {payload: {\"destPort\": 61625, \"payload\": \"AQ==\", \"priority\": \"high\", \"srcPort\": 61625},\n\n\nvar msg_out = {\n                    url: \"https://40.69.23.78:8888/manager/v1/motes/m/\".concat(mac_1,\"-\",mac_2,\"-\",mac_3,\"-\",mac_4,\"-\",mac_5,\"-\",mac_6,\"-\",mac_7,\"-\",mac_8,\"/info\")\n                    \n}\n\n\n\nreturn [msg_out];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2280,"y":1080,"wires":[["49d8ce30.84307"]]},{"id":"46d73eb5.3f52","type":"inject","z":"a66ef2e0.5a487","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":2050,"y":1080,"wires":[["18e8db34.e93fe5"]]},{"id":"49d8ce30.84307","type":"https-node","z":"a66ef2e0.5a487","name":"Get motes","method":"GET","ret":"obj","url":"","authorized":false,"agent":false,"x":2530,"y":1140,"wires":[["d02fc5b3.e78df8","3dd43127.a8e4ee"]]},{"id":"b3487d78.dbcc6","type":"function","z":"a66ef2e0.5a487","name":"Get all motes info","func":"var i = msg.payload\n\n\nvar sorted_mac_array = flow.get('sorted_mac_array_all') || 0\n\nvar num_mac = sorted_mac_array.length\n\nvar mac_address = flow.get('mac_address') || 0;\n\n\n    var mac_1  = sorted_mac_array[i].toString().substr(0,2);\n    var mac_2  = sorted_mac_array[i].toString().substr(2,2);\n    var mac_3  = sorted_mac_array[i].toString().substr(4,2);\n    var mac_4  = sorted_mac_array[i].toString().substr(6,2);\n    var mac_5  = sorted_mac_array[i].toString().substr(8,2);\n    var mac_6  = sorted_mac_array[i].toString().substr(10,2);\n    var mac_7  = sorted_mac_array[i].toString().substr(12,2);\n    var mac_8  = sorted_mac_array[i].toString().substr(14,2);\n\n    i = i+1\n   \n    var msg_out = {url: \"https://40.69.23.78:8888/manager/v1/motes/m/\".concat(mac_1,\"-\",mac_2,\"-\",mac_3,\"-\",mac_4,\"-\",mac_5,\"-\",mac_6,\"-\",mac_7,\"-\",mac_8,\"/info\")}\n    var index = {payload: i}\n   \n   \n    if (i<sorted_mac_array.length){\n        \n        return [msg_out, index];\n        \n    } else {\n        \n        return [msg_out, null];\n        \n    }\n   \n    \n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2290,"y":1260,"wires":[["49d8ce30.84307"],["76904b57.92dbc4"]]},{"id":"21c943b7.9151bc","type":"inject","z":"a66ef2e0.5a487","name":"","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"120","topic":"","payload":"0","payloadType":"num","x":1970,"y":1280,"wires":[["b3487d78.dbcc6"]]},{"id":"4da5f9be.fb7678","type":"link out","z":"a66ef2e0.5a487","name":"loop out","links":["8532bbd3.373d38"],"x":2655,"y":1360,"wires":[]},{"id":"8532bbd3.373d38","type":"link in","z":"a66ef2e0.5a487","name":"loop in","links":["4da5f9be.fb7678"],"x":2135,"y":1360,"wires":[["b3487d78.dbcc6"]]},{"id":"4cf49fb.0a8056","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":12,"width":0,"height":0,"passthru":false,"label":"Get All Mote Info","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":1340,"y":1900,"wires":[["b3487d78.dbcc6","77af06d4.a87ea8"]]},{"id":"d02fc5b3.e78df8","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3050,"y":860,"wires":[]},{"id":"76904b57.92dbc4","type":"delay","z":"a66ef2e0.5a487","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2500,"y":1280,"wires":[["4da5f9be.fb7678"]]},{"id":"6b2f559b.b5e11c","type":"inject","z":"a66ef2e0.5a487","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":2230,"y":1560,"wires":[["77af06d4.a87ea8"]]},{"id":"77af06d4.a87ea8","type":"https-node","z":"a66ef2e0.5a487","name":"Get APs","method":"GET","ret":"obj","url":"https://40.69.23.78:8888/manager/v1/aps","authorized":false,"agent":false,"x":2450,"y":1560,"wires":[["d061a799.f39368","6a6a4d9b.df13b4"]]},{"id":"d061a799.f39368","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3130,"y":1500,"wires":[]},{"id":"6a6a4d9b.df13b4","type":"function","z":"a66ef2e0.5a487","name":"Update Mac List","func":"var msg_aps = msg;\n\nvar aps_array = [] // = flow.get('mac_array_all') || []\n\nvar exist = false;\nvar i;\nvar k=0;\n\nvar num_motes = {payload: msg_aps.payload.aps.length};\n\nfor (i = 0; i < msg_aps.payload.aps.length; i++){\n    \n    aps_array[i] = msg_aps.payload.aps[i].macAddress.replace(/-/g, \"\")\n    \n    if (msg_aps.payload.aps[i].state == 'operational'){\n        k=k+1;\n    }\n    \n}\n\nvar init = {payload: 0};\n\n\n//if (!exist){\n    \n//    mac_array[i] = msg_mac.payload.mac_adress;\n    flow.set('aps_array_all', aps_array);\n    \n    \n//}\n\nvar aps_array_string = {payload: aps_array};\n\n//if (!exist){\n    \n    flow.set('sorted_aps_array_all', aps_array.sort());\n    \n//}\n\n\nreturn [aps_array_string,init];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":2700,"y":1720,"wires":[[],["934e3c52.f7c85"]]},{"id":"934e3c52.f7c85","type":"function","z":"a66ef2e0.5a487","name":"Get all motes info","func":"var i = msg.payload\n\n\nvar sorted_aps_array = flow.get('sorted_aps_array_all')\n\nvar aps_url_array = flow.get('aps_url_array') || []\n\nvar num_aps = sorted_aps_array.length\n\n\n    var mac_1  = sorted_aps_array[i].toString().substr(0,2);\n    var mac_2  = sorted_aps_array[i].toString().substr(2,2);\n    var mac_3  = sorted_aps_array[i].toString().substr(4,2);\n    var mac_4  = sorted_aps_array[i].toString().substr(6,2);\n    var mac_5  = sorted_aps_array[i].toString().substr(8,2);\n    var mac_6  = sorted_aps_array[i].toString().substr(10,2);\n    var mac_7  = sorted_aps_array[i].toString().substr(12,2);\n    var mac_8  = sorted_aps_array[i].toString().substr(14,2);\n\n    \n   \n    var msg_out = {url: \"https://40.69.23.78:8888/manager/v1/aps/a/\".concat(mac_1,\"-\",mac_2,\"-\",mac_3,\"-\",mac_4,\"-\",mac_5,\"-\",mac_6,\"-\",mac_7,\"-\",mac_8,\"/links\")}\n    \n    aps_url_array[i] = \"https://40.69.23.78:8888/manager/v1/aps/a/\".concat(mac_1,\"-\",mac_2,\"-\",mac_3,\"-\",mac_4,\"-\",mac_5,\"-\",mac_6,\"-\",mac_7,\"-\",mac_8,\"/links\")\n    \n    flow.set('aps_url_array', aps_url_array);\n    \n    i = i+1\n   \n    var index = {payload: i}\n   \n    var url = {payload: aps_url_array}\n   \n   \n   \n   \n   \n    if (i<sorted_aps_array.length){\n        \n        return [msg_out, index,url];\n        \n    } else {\n        \n        return [msg_out, null,url];\n        \n    }\n   \n    \n\n\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":3010,"y":1740,"wires":[["76826626.15f3f8","985005cd.3d9948"],["8b8a841.d2fbc78"],["d061a799.f39368"]]},{"id":"4429a17a.d72e6","type":"link out","z":"a66ef2e0.5a487","name":"loop out","links":["6cfcc777.c96728"],"x":3375,"y":1840,"wires":[]},{"id":"6cfcc777.c96728","type":"link in","z":"a66ef2e0.5a487","name":"loop in","links":["4429a17a.d72e6"],"x":2855,"y":1840,"wires":[["934e3c52.f7c85"]]},{"id":"8b8a841.d2fbc78","type":"delay","z":"a66ef2e0.5a487","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3220,"y":1760,"wires":[["4429a17a.d72e6"]]},{"id":"76826626.15f3f8","type":"https-node","z":"a66ef2e0.5a487","name":"Get motes","method":"GET","ret":"obj","url":"","authorized":false,"agent":false,"x":3210,"y":1660,"wires":[["985005cd.3d9948","3e48bfb1.9c0f8"]]},{"id":"985005cd.3d9948","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3430,"y":1700,"wires":[]},{"id":"2639384f.448f68","type":"ui_table","z":"a66ef2e0.5a487","group":"62a9c652.e50598","name":"","order":0,"width":"35","height":"200","columns":[],"outputs":0,"cts":false,"x":1300,"y":340,"wires":[]},{"id":"8880cf2a.3d60a","type":"ui_table","z":"a66ef2e0.5a487","group":"e8b32331.72497","name":"","order":0,"width":"35","height":"200","columns":[],"outputs":0,"cts":false,"x":1320,"y":500,"wires":[]},{"id":"f5f6b44.be37448","type":"ui_table","z":"a66ef2e0.5a487","group":"242ca059.3a743","name":"","order":0,"width":"35","height":"200","columns":[],"outputs":0,"cts":false,"x":1340,"y":720,"wires":[]},{"id":"fe490c6f.045de","type":"ui_table","z":"a66ef2e0.5a487","group":"5097df7a.3b88","name":"","order":0,"width":"35","height":"200","columns":[],"outputs":0,"cts":false,"x":1220,"y":920,"wires":[]},{"id":"3b30aa08.a2a4c6","type":"ui_table","z":"a66ef2e0.5a487","group":"5ff7990c.95c788","name":"","order":0,"width":"45","height":"200","columns":[],"outputs":0,"cts":false,"x":3360,"y":1060,"wires":[]},{"id":"b6ce1ee7.b8e65","type":"ui_table","z":"a66ef2e0.5a487","group":"fe262778.563ce8","name":"","order":0,"width":"35","height":"200","columns":[],"outputs":0,"cts":false,"x":3760,"y":1680,"wires":[]},{"id":"bf1a16ff.de3118","type":"ui_table","z":"a66ef2e0.5a487","group":"995183c2.fa2de","name":"","order":0,"width":"35","height":"200","columns":[],"outputs":0,"cts":false,"x":1310,"y":1200,"wires":[]},{"id":"a2398ed6.d0295","type":"ui_table","z":"a66ef2e0.5a487","group":"46fe21ff.bcf33","name":"","order":0,"width":"35","height":"200","columns":[],"outputs":0,"cts":false,"x":1390,"y":1320,"wires":[]},{"id":"29320c2.66f67f4","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":1460,"wires":[]},{"id":"adcdcacf.512528","type":"link in","z":"a66ef2e0.5a487","name":"negihbour in","links":["60b95068.6ced9"],"x":2875,"y":1180,"wires":[["3dd43127.a8e4ee","d02fc5b3.e78df8"]]},{"id":"d5c100da.17e89","type":"link in","z":"a66ef2e0.5a487","name":"devicehealt in","links":["e58f3723.1a2c78"],"x":2875,"y":1000,"wires":[["3dd43127.a8e4ee","d02fc5b3.e78df8"]]},{"id":"cd0bc339.06e48","type":"link in","z":"a66ef2e0.5a487","name":"state in","links":["833a6e70.e068f"],"x":2875,"y":1080,"wires":[["3dd43127.a8e4ee","d02fc5b3.e78df8"]]},{"id":"35ea51ff.ca245e","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":1,"width":"0","height":"0","passthru":false,"label":"Transport mode (disabled)","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0C","payloadType":"str","topic":"","x":1380,"y":2200,"wires":[[]]},{"id":"f81caaef.a325f8","type":"debug","z":"a66ef2e0.5a487","name":"","active":true,"console":"false","complete":"true","x":2130,"y":2160,"wires":[]},{"id":"36609bf7.f5aba4","type":"function","z":"a66ef2e0.5a487","name":"NGI packet to logger","func":"\nvar mac_address = flow.get('mac_address') || 0;\n\n\nvar mac_1  = mac_address.payload.toString().substr(0,2);\nvar mac_2  = mac_address.payload.toString().substr(2,2);\nvar mac_3  = mac_address.payload.toString().substr(4,2);\nvar mac_4  = mac_address.payload.toString().substr(6,2);\nvar mac_5  = mac_address.payload.toString().substr(8,2);\nvar mac_6  = mac_address.payload.toString().substr(10,2);\nvar mac_7  = mac_address.payload.toString().substr(12,2);\nvar mac_8  = mac_address.payload.toString().substr(14,2);\n\n\nvar b = new Buffer(msg.payload, 'hex');\nvar s = b.toString('base64');\n\n//msg.payload = new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x03, 0x00, 0x00, 0x17]);//subscribe response - send gettime\n\n//var msg_out = {payload: new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x12, 0x00, 0x00, 0x2c ,0x00, 0x17, 0x0d, 0x00, 0x00, 0x30, 0xe2, 0xa9, 0x01, 0xf0, 0xb9, 0xf0, 0xb9,  0x00, msg.payload, mac_1, mac_2, mac_3, mac_4, mac_5, mac_6, mac_7, mac_8])};//set transport mode\n\n//var msg_out = {payload: new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x12, 0x00, 0x00, 0x2c , mac_1, mac_2, mac_3, mac_4, mac_5, mac_6, mac_7, mac_8, 0x01, 0xf0, 0xb9, 0xf0, 0xb9,  0x00, msg.payload])};//set transport mode\n\n\n//mac = new Buffer ([0x00, 0x17, 0x0d, 0x00, 0x00, 0x30, 0xe2, 0xa9]);//set transport mode\n\n//tail = new Buffer ([0x01, 0xf0, 0xb9, 0xf0, 0xc9, 0x00, 0x0c]);//set transport mode\n\n//var msg_out = {payload: {\"destPort\": 61625, \"payload\": \"AQ==\", \"priority\": \"high\", \"srcPort\": 61625},\n\n\nvar msg_out = {payload: {\"destPort\": 61625, \"payload\": s, \"priority\": \"high\", \"srcPort\": 61625},\n                url: \"https://40.69.23.78:8888/manager/v1/motes/m/\".concat(mac_1,\"-\",mac_2,\"-\",mac_3,\"-\",mac_4,\"-\",mac_5,\"-\",mac_6,\"-\",mac_7,\"-\",mac_8,\"/dataPacket\")\n                \n}\n\n\n\nreturn [msg_out];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":2380,"wires":[["f81caaef.a325f8","26979417.667edc"]]},{"id":"bf1568e3.136828","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":2,"width":0,"height":0,"passthru":false,"label":"External reset","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"00","payloadType":"str","topic":"","x":1340,"y":2240,"wires":[["36609bf7.f5aba4"]]},{"id":"aea1c24f.fa49d","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":3,"width":0,"height":0,"passthru":false,"label":"Get AUX","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"01","payloadType":"str","topic":"","x":1320,"y":2280,"wires":[["36609bf7.f5aba4"]]},{"id":"839c634.128f0a","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":4,"width":0,"height":0,"passthru":false,"label":"Start Logging","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"04","payloadType":"str","topic":"","x":1330,"y":2320,"wires":[["36609bf7.f5aba4"]]},{"id":"de73f2f1.f8d79","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":5,"width":0,"height":0,"passthru":false,"label":"Get Params","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"05","payloadType":"str","topic":"","x":1330,"y":2360,"wires":[["36609bf7.f5aba4"]]},{"id":"c8d6543d.6f4178","type":"ui_numeric","z":"a66ef2e0.5a487","name":"","label":"Mac number","tooltip":"","group":"3421c70.f33bc3a","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"500","step":1,"x":470,"y":2400,"wires":[["3821ebca.d644d4"]]},{"id":"15f0e207.94ae6e","type":"ui_text","z":"a66ef2e0.5a487","group":"3421c70.f33bc3a","order":2,"width":0,"height":0,"name":"","label":"Send to (mac_adress)","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":2380,"wires":[]},{"id":"3821ebca.d644d4","type":"function","z":"a66ef2e0.5a487","name":"Get mac address from number","func":"var sorted_mac_array = flow.get('sorted_mac_array_all') || 0\n\nvar mac_address = {payload:sorted_mac_array[msg.payload-1]}\n\nflow.set('mac_address',mac_address);\n\nreturn mac_address;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750.4763031005859,"y":2399.5238971710205,"wires":[["15f0e207.94ae6e","c4bbb5fb.1b9d18"]]},{"id":"26979417.667edc","type":"https-node","z":"a66ef2e0.5a487","name":"Get motes","method":"POST","ret":"bin","url":"","authorized":false,"agent":false,"x":1870,"y":2160,"wires":[[]]},{"id":"f69ad9d0.62b7d8","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":6,"width":0,"height":0,"passthru":false,"label":"Enable fast charge","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0E","payloadType":"str","topic":"","x":1350,"y":2400,"wires":[["36609bf7.f5aba4"]]},{"id":"3f6046dc.ab46ba","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":7,"width":0,"height":0,"passthru":false,"label":"Disable fast charge","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0D","payloadType":"str","topic":"","x":1350,"y":2440,"wires":[["36609bf7.f5aba4"]]},{"id":"3f914ba8.e18994","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":8,"width":0,"height":0,"passthru":false,"label":"DAC trigg ref","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"0F","payloadType":"str","topic":"","x":1330,"y":2480,"wires":[["36609bf7.f5aba4"]]},{"id":"d6a6bbac.d8c698","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":9,"width":0,"height":0,"passthru":false,"label":"VDD trigg ref","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"10","payloadType":"str","topic":"","x":1330,"y":2520,"wires":[["36609bf7.f5aba4"]]},{"id":"b494c2bb.91f76","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":10,"width":0,"height":0,"passthru":false,"label":"Get raw data","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"086600FF00000000FFFFFF7F","payloadType":"str","topic":"","x":1350,"y":2100,"wires":[["edba3eb3.19bb1"]]},{"id":"79b8e837.9b8738","type":"ui_text_input","z":"a66ef2e0.5a487","name":"","label":"Get raw data (flash_ID)","tooltip":"","group":"3421c70.f33bc3a","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"topic","x":610,"y":2140,"wires":[["cd813601.8d72c8"]]},{"id":"cd813601.8d72c8","type":"function","z":"a66ef2e0.5a487","name":"Set get_raw data string","func":"\nmsg.payload.flashID = parseInt(msg.payload)\n\nhex = \"000\" + parseInt(msg.payload).toString(16);\nflashID = parseInt(hex.substr(hex.length-4,hex.length),16)\nlsb = \"00\" + ((parseInt(msg.payload) % 256)).toString(16);\nmsb = \"00\" + ((Math.floor(parseInt(msg.payload)/256))).toString(16);\n\npackedID = \"08\";\nchannels = \"0F\";\nScanStart = \"00000000\";\nScanStop = \"FFFFFF7F\";\n\nIMSG_SENDDATA_payload = (packedID + lsb.substr(lsb.length-2,lsb.length) + msb.substr(msb.length-2,msb.length) + channels + ScanStart + ScanStop); \n\nflow.set('IMSG_SENDDATA',IMSG_SENDDATA_payload);\n\nvar msg2 = {payload: {flashID:flashID,\n                      flashID_hex:hex.substr(hex.length-4,hex.length),\n                      flashID_lsb:lsb.substr(lsb.length-2,lsb.length),\n                      flashID_msb:msb.substr(msb.length-2,msb.length),\n                      IMSG_SENDDATA:IMSG_SENDDATA_payload\n\n}\n\n}  \n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":2140,"wires":[[]]},{"id":"edba3eb3.19bb1","type":"function","z":"a66ef2e0.5a487","name":"Get raw data string","func":"\nvar IMSG_SENDDATA_payload = flow.get('IMSG_SENDDATA') || 0;\n\nvar msg2 = {payload:IMSG_SENDDATA_payload};\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1570,"y":2100,"wires":[["36609bf7.f5aba4"]]},{"id":"4169bac3.63dae4","type":"ui_button","z":"a66ef2e0.5a487","name":"","group":"46c3ddbe.71a004","order":11,"width":0,"height":0,"passthru":false,"label":"Claim Wzzard","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"09E0040003C7010286","payloadType":"str","topic":"","x":1340,"y":1980,"wires":[["78a23fa9.6b39"]]},{"id":"78a23fa9.6b39","type":"function","z":"a66ef2e0.5a487","name":"Send to Wzzard","func":"\nvar mac_address = flow.get('mac_address') || 0;\n\n\nvar mac_1  = mac_address.payload.toString().substr(0,2);\nvar mac_2  = mac_address.payload.toString().substr(2,2);\nvar mac_3  = mac_address.payload.toString().substr(4,2);\nvar mac_4  = mac_address.payload.toString().substr(6,2);\nvar mac_5  = mac_address.payload.toString().substr(8,2);\nvar mac_6  = mac_address.payload.toString().substr(10,2);\nvar mac_7  = mac_address.payload.toString().substr(12,2);\nvar mac_8  = mac_address.payload.toString().substr(14,2);\n\n\nvar b = new Buffer(msg.payload, 'hex');\nvar s = b.toString('base64');\n\n//msg.payload = new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x03, 0x00, 0x00, 0x17]);//subscribe response - send gettime\n\n//var msg_out = {payload: new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x12, 0x00, 0x00, 0x2c ,0x00, 0x17, 0x0d, 0x00, 0x00, 0x30, 0xe2, 0xa9, 0x01, 0xf0, 0xb9, 0xf0, 0xb9,  0x00, msg.payload, mac_1, mac_2, mac_3, mac_4, mac_5, mac_6, mac_7, mac_8])};//set transport mode\n\n//var msg_out = {payload: new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x12, 0x00, 0x00, 0x2c , mac_1, mac_2, mac_3, mac_4, mac_5, mac_6, mac_7, mac_8, 0x01, 0xf0, 0xb9, 0xf0, 0xb9,  0x00, msg.payload])};//set transport mode\n\n\n//mac = new Buffer ([0x00, 0x17, 0x0d, 0x00, 0x00, 0x30, 0xe2, 0xa9]);//set transport mode\n\n//tail = new Buffer ([0x01, 0xf0, 0xb9, 0xf0, 0xc9, 0x00, 0x0c]);//set transport mode\n\n//var msg_out = {payload: {\"destPort\": 61625, \"payload\": \"AQ==\", \"priority\": \"high\", \"srcPort\": 61625},\n\n\nvar msg_out = {payload: {\"destPort\": 61624, \"payload\": s, \"priority\": \"high\", \"srcPort\": 61624},\n                url: \"https://40.69.23.78:8888/manager/v1/motes/m/\".concat(mac_1,\"-\",mac_2,\"-\",mac_3,\"-\",mac_4,\"-\",mac_5,\"-\",mac_6,\"-\",mac_7,\"-\",mac_8,\"/dataPacket\")\n                \n}\n\n\n\nreturn [msg_out];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":1980,"wires":[["26979417.667edc","f81caaef.a325f8"]]},{"id":"c4bbb5fb.1b9d18","type":"debug","z":"a66ef2e0.5a487","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":2460,"wires":[]},{"id":"b0e28a7d.d60108","type":"ui_group","z":"","name":"Network Status","tab":"73ee1319.58ffcc","order":1,"disp":true,"width":"6","collapse":false},{"id":"46c3ddbe.71a004","type":"ui_group","name":"Send command to EDGE","tab":"73ee1319.58ffcc","order":3,"disp":true,"width":"6","collapse":false},{"id":"62a9c652.e50598","type":"ui_group","z":"","name":"Default","tab":"ef12f569.0e1668","order":1,"disp":false,"width":"35","collapse":false},{"id":"e8b32331.72497","type":"ui_group","z":"","name":"Default","tab":"4d8c9984.bde5d8","order":1,"disp":false,"width":"35","collapse":false},{"id":"242ca059.3a743","type":"ui_group","z":"","name":"Default","tab":"fde37088.e8448","order":1,"disp":false,"width":"35","collapse":false},{"id":"5097df7a.3b88","type":"ui_group","z":"","name":"Default","tab":"ebe41fd5.1933e","order":1,"disp":false,"width":"35","collapse":false},{"id":"5ff7990c.95c788","type":"ui_group","z":"","name":"Default","tab":"58541733.664d58","order":1,"disp":false,"width":"45","collapse":false},{"id":"fe262778.563ce8","type":"ui_group","z":"","name":"Default","tab":"86a55cf3.25da7","order":1,"disp":false,"width":"35","collapse":false},{"id":"995183c2.fa2de","type":"ui_group","z":"","name":"Default","tab":"906495cc.611f58","order":1,"disp":false,"width":"35","collapse":false},{"id":"46fe21ff.bcf33","type":"ui_group","z":"","name":"Default","tab":"e3dae2f9.eed33","order":1,"disp":false,"width":"35","collapse":false},{"id":"3421c70.f33bc3a","type":"ui_group","name":"Command payload","tab":"73ee1319.58ffcc","order":4,"disp":true,"width":"6","collapse":false},{"id":"73ee1319.58ffcc","type":"ui_tab","z":"","name":"Verma Config","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"ef12f569.0e1668","type":"ui_tab","z":"","name":"Verma Event","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"4d8c9984.bde5d8","type":"ui_tab","z":"","name":"Verma Prosessing","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"fde37088.e8448","type":"ui_tab","z":"","name":"Verma Raw","icon":"dashboard","order":13,"disabled":false,"hidden":false},{"id":"ebe41fd5.1933e","type":"ui_tab","z":"","name":"Verma AUX","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"58541733.664d58","type":"ui_tab","z":"","name":"Verma Smartmesh Mesh","icon":"dashboard","order":14,"disabled":false,"hidden":false},{"id":"86a55cf3.25da7","type":"ui_tab","z":"","name":"Verma Smartmesh AP","icon":"dashboard","order":17,"disabled":false,"hidden":false},{"id":"906495cc.611f58","type":"ui_tab","z":"","name":"Verma Smartmesh State","icon":"dashboard","order":16,"disabled":false,"hidden":false},{"id":"e3dae2f9.eed33","type":"ui_tab","z":"","name":"Verma Smartmesh Mote","icon":"dashboard","order":15,"disabled":false,"hidden":false}]