RMAD dashboard - Serial_Mux script.txt
[{"id":"d9a3cf01.4369a","type":"tab","label":"Dashboard"},{"id":"c25637e.17a01c8","type":"function","z":"d9a3cf01.4369a","name":"Sort AUX","func":"var msg2 = msg;\n\nmsg2.payload.reverse();\n\nvar aux_array = [];\nvar mac_array = [];\nvar node_string = [];\nvar mac_string,battery_string,temperature_string,time_string,aux_string; \nvar i,k;\nvar j = 0;\nvar exist;\n\nfor (i = 0; i < msg2.payload.length; i++){\n    \n    if (msg2.payload[i] !== 0){\n        \n        for (k=0; k < aux_array.length; k++){\n            \n            if (msg2.payload[i].mac_adress == aux_array[k].mac_adress){\n                exist = true;\n                break;\n            }\n            exist = false;\n          \n        }\n        \n        if (!exist){\n            \n            aux_array[j] = msg2.payload[i];\n            mac_array[j] = msg2.payload[i].mac_adress;\n        \n            mac_string = msg2.payload[i].mac_adress;\n            type_string = msg2.payload[i].config.type;\n            sw_string = msg2.payload[i].config.sw;\n            hw_string = msg2.payload[i].config.hw;\n            chargeenable_string = msg2.payload[i].state.charge_enabled;\n            fastcharge_string = msg2.payload[i].state.fast_charge;\n            acom1_string = msg2.payload[i].state.acmp1_out;\n            acom2_string = msg2.payload[i].state.acmp2_out;\n            acmp_vddref_string = msg2.payload[i].state.acmp_vddref;\n            battery_string = msg2.payload[i].battery;\n            temperature_string = msg2.payload[i].temperature;\n            const time = new Date(msg2.payload[i].packet_sent + 2*3600000)\n            time_string = time.getHours() + \":\" + time.getMinutes() + \":\" + time.getSeconds();\n            \n            \n            aux_string = msg2.payload[i].aux;\n        \n            node_string[j] =  mac_string.concat(\"--\",type_string,\":\",sw_string,\":\",hw_string,\"--\",chargeenable_string,\":\",fastcharge_string,\":\",acom1_string,\":\",acom2_string,\":\",acmp_vddref_string,\"--\",time_string,\"--\",battery_string,\"--\",temperature_string,\"--\",aux_string,\"       \\n\");\n        \n            j++\n \n            \n        }\n\n    \n    }\n    \n}\n\nvar table_string = node_string.sort().join(\"\\n\");\nvar sort_mac_array = mac_array.sort();\n\n\nvar string = {payload: table_string};\nvar sorted_mac_array = {payload: sort_mac_array};\n\nflow.set('sorted_mac_array',sorted_mac_array);\n\n\nreturn [string, sorted_mac_array ,msg2.payload[0]];\n\n","outputs":"3","noerr":0,"x":502.5714874267578,"y":281.7500114440918,"wires":[["26e1d04b.1e1be","3e039a42.794f16"],["3e039a42.794f16"],["3e039a42.794f16"]]},{"id":"26e1d04b.1e1be","type":"ui_text","z":"d9a3cf01.4369a","group":"c913389b.8f7e58","order":0,"width":"14","height":"7","name":"AUX table","label":"","format":"{{msg.payload}}","layout":"row-left","x":728.2143173217773,"y":258.5396399497986,"wires":[]},{"id":"5fc83d33.569c54","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":1,"width":0,"height":0,"label":"Transport mode (disabled)","color":"","bgcolor":"","icon":"","payload":"12","payloadType":"num","topic":"","x":1210.0000839233398,"y":354.2856454849243,"wires":[[]]},{"id":"683dddb8.e94e94","type":"debug","z":"d9a3cf01.4369a","name":"","active":true,"console":"false","complete":"true","x":1700.0003356933594,"y":501.4285583496094,"wires":[]},{"id":"86944a3f.e67d88","type":"link out","z":"d9a3cf01.4369a","name":"","links":["b1c97f44.ec4e6"],"x":1705.7144832611084,"y":637.1428298950195,"wires":[]},{"id":"ae9576a6.212d88","type":"function","z":"d9a3cf01.4369a","name":"NGI packet to logger","func":"\nvar mac_address = flow.get('mac_address') || 0;\n\n\nvar mac_1  = parseInt(mac_address.payload.toString().substr(0,2),16);\nvar mac_2  = parseInt(mac_address.payload.toString().substr(2,2),16);\nvar mac_3  = parseInt(mac_address.payload.toString().substr(4,2),16);\nvar mac_4  = parseInt(mac_address.payload.toString().substr(6,2),16);\nvar mac_5  = parseInt(mac_address.payload.toString().substr(8,2),16);\nvar mac_6  = parseInt(mac_address.payload.toString().substr(10,2),16);\nvar mac_7  = parseInt(mac_address.payload.toString().substr(12,2),16);\nvar mac_8  = parseInt(mac_address.payload.toString().substr(14,2),16);\n\n\n//msg.payload = new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x03, 0x00, 0x00, 0x17]);//subscribe response - send gettime\n\n//var msg_out = {payload: new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x12, 0x00, 0x00, 0x2c ,0x00, 0x17, 0x0d, 0x00, 0x00, 0x30, 0xe2, 0xa9, 0x01, 0xf0, 0xb9, 0xf0, 0xb9,  0x00, msg.payload, mac_1, mac_2, mac_3, mac_4, mac_5, mac_6, mac_7, mac_8])};//set transport mode\n\nvar msg_out = {payload: new Buffer ([0xA7, 0x40, 0xA0, 0xF5, 0x00, 0x12, 0x00, 0x00, 0x2c , mac_1, mac_2, mac_3, mac_4, mac_5, mac_6, mac_7, mac_8, 0x01, 0xf0, 0xb9, 0xf0, 0xb9,  0x00, msg.payload])};//set transport mode\n\n\n//mac = new Buffer ([0x00, 0x17, 0x0d, 0x00, 0x00, 0x30, 0xe2, 0xa9]);//set transport mode\n\n//tail = new Buffer ([0x01, 0xf0, 0xb9, 0xf0, 0xc9, 0x00, 0x0c]);//set transport mode\n\n\nreturn [msg_out, mac_address];\n\n","outputs":"2","noerr":0,"x":1432.8572006225586,"y":560.0000171661377,"wires":[["683dddb8.e94e94","86944a3f.e67d88"],[]]},{"id":"21c653a2.a56cbc","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":2,"width":0,"height":0,"label":"External reset","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":1165.7142715454102,"y":442.85709953308105,"wires":[["ae9576a6.212d88"]]},{"id":"1a68a6c2.54fab9","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":3,"width":0,"height":0,"label":"Get AUX","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":1145.7142715454102,"y":527.1428356170654,"wires":[["ae9576a6.212d88"]]},{"id":"a6b63a32.900028","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":4,"width":0,"height":0,"label":"Start Logging","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":1148.5712585449219,"y":608.5714359283447,"wires":[["ae9576a6.212d88"]]},{"id":"2f923a7b.db35c6","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":5,"width":0,"height":0,"label":"Get Params","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"","x":1144.2859268188477,"y":689.9999885559082,"wires":[["ae9576a6.212d88"]]},{"id":"5789bcc5.83a3b4","type":"ui_numeric","z":"d9a3cf01.4369a","name":"","label":"Mac number","group":"8dc4f73e.b970c8","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"101","step":1,"x":1142.3807525634766,"y":144.7617883682251,"wires":[["ab4f0942.097b88"]]},{"id":"f49ee2d4.6298d","type":"ui_text","z":"d9a3cf01.4369a","group":"8dc4f73e.b970c8","order":11,"width":0,"height":0,"name":"","label":"Mac address","format":"{{msg.payload}}","layout":"row-spread","x":1677.1427383422852,"y":208.57140350341797,"wires":[]},{"id":"ab4f0942.097b88","type":"function","z":"d9a3cf01.4369a","name":"Get mac address from number","func":"var sorted_mac_array = flow.get('sorted_mac_array') || 0\n\nvar mac_address = {payload:sorted_mac_array.payload[msg.payload-1]}\n\nflow.set('mac_address',mac_address);\n\nreturn mac_address;","outputs":1,"noerr":0,"x":1422.8570556640625,"y":144.2856855392456,"wires":[["740ffe52.f5e97","f49ee2d4.6298d"]]},{"id":"740ffe52.f5e97","type":"debug","z":"d9a3cf01.4369a","name":"","active":false,"console":"false","complete":"true","x":1662.857177734375,"y":102.85714054107666,"wires":[]},{"id":"d471c81f.dc6128","type":"function","z":"d9a3cf01.4369a","name":"Sort Events","func":"\n\n//msg.payload.reverse();\n\nvar event_array = [];\nvar mac_array = [];\nvar node_string = [];\nvar mac_string,flash_ID_string,sps_string,num_samples_string,trigg_timestamp_string,packet_sent_string; \nvar i,k;\nvar j = 0;\nvar exist;\n\nfor (i = 0; i < msg.payload.length; i++){\n    \n    if (msg.payload[i] !== 0){\n        \n\n            //event_array[i] = msg.payload[i];\n           // mac_array[i] = msg.payload[i].mac_adress;\n        \n            mac_string = msg.payload[i].mac_adress;\n            flash_ID_string = msg.payload[i].flash_ID;\n            sps_string = msg.payload[i].sps;\n            num_samples_string = msg.payload[i].num_samples;\n            //trigg_timestamp_string = msg.payload[i].trigg_timestamp;\n            //packet_sent_string = msg.payload[i].packet_sent;\n            \n            const trigg_time = new Date(msg.payload[i].trigg_timestamp + 2*3600000)\n            trigg_timestamp_string = trigg_time.getHours() + \":\" + trigg_time.getMinutes() + \":\" + trigg_time.getSeconds();\n            \n            \n            const time = new Date(msg.payload[i].packet_sent + 2*3600000)\n            packet_sent_string = time.getHours() + \":\" + time.getMinutes() + \":\" + time.getSeconds();\n            \n            \n            //aux_string = msg.payload[i].aux;\n        \n            node_string[j] =  trigg_timestamp_string.concat(\"--\",mac_string,\"--\",flash_ID_string,\"--\",sps_string,\"--\",num_samples_string,\"       \\n\"); //--\",packet_sent_string,\"\n        \n            j++\n            \n        }\n\n\n}\n\nvar table_string = node_string.reverse().join(\"\\n\");\n//var sort_mac_array = mac_array.sort();\n\n\nvar string = {payload: table_string};\n//var sorted_mac_array = {payload: sort_mac_array};\n\n//flow.set('sorted_mac_array',sorted_mac_array);\n\n\nreturn [string, msg.payload[100]];\n","outputs":"2","noerr":0,"x":522.8572807312012,"y":532.8571395874023,"wires":[["cb33bb5.9831b48"],[]]},{"id":"cb33bb5.9831b48","type":"ui_text","z":"d9a3cf01.4369a","group":"9c73b891.7a8378","order":0,"width":"8","height":"7","name":"Event table","label":"","format":"{{msg.payload}}","layout":"row-left","x":758.5715675354004,"y":527.1429195404053,"wires":[]},{"id":"16f998e5.439a77","type":"function","z":"d9a3cf01.4369a","name":"Sort param","func":"var msg3 = msg;\n\nmsg3.payload.reverse();\n\nvar event_array = [];\nvar mac_array = [];\nvar node_string = [];\nvar mac_string,Min_samples_string,Sample_cont_string,Max_samples_string;\nvar G1_std_lim_string,G2_std_lim_string,G3_std_lim_string,G4_std_lim_string;\nvar G1_cont_lim_string,G2_cont_lim_string,G3_cont_lim_string,G4_cont_lim_string;\nvar Trig_level_string,Start_delay_string,Trig_ch0_string,Trig_ch1_string,Amp_trig_string,Amp_logging_string; \nvar i,k;\nvar j = 0;\nvar exist;\n\n\nfor (i = 0; i < msg3.payload.length; i++){\n    \n    if (msg3.payload[i] !== 0){\n        \n        for (k=0; k < mac_array.length; k++){\n            \n            if (msg3.payload[i].mac_adress == event_array[k].mac_adress){\n                exist = true;\n                break;\n            }\n            \n            exist = false;\n          \n        }\n        \n        if (!exist){\n            \n            event_array[j] = msg3.payload[i];\n            mac_array[j] = msg3.payload[i].mac_adress;\n        \n            mac_string = msg3.payload[i].mac_adress;\n            Min_samples_string = msg3.payload[i].Min_samples;\n            Sample_cont_string = msg3.payload[i].Sample_cont;\n            Max_samples_string = msg3.payload[i].Max_samples;\n            G1_std_lim_string = msg3.payload[i].G1_std_lim;\n            G2_std_lim_string = msg3.payload[i].G2_std_lim;\n            G3_std_lim_string = msg3.payload[i].G3_std_lim;\n            G4_std_lim_string = msg3.payload[i].G4_std_lim;\n            G1_cont_lim_string = msg3.payload[i].G1_cont_lim;\n            G2_cont_lim_string = msg3.payload[i].G2_cont_lim;\n            G3_cont_lim_string = msg3.payload[i].G3_cont_lim;\n            G4_cont_lim_string = msg3.payload[i].G4_cont_lim;\n            \n            Trig_level_string = msg3.payload[i].Trig_level;\n            Start_delay_string = msg3.payload[i].Start_delay;\n            Trig_ch0_string = msg3.payload[i].Trig_ch0;\n            Trig_ch1_string = msg3.payload[i].Trig_ch1;\n            Amp_trig_string = msg3.payload[i].Amp_trig;\n            Amp_logging_string = msg3.payload[i].Amp_logging;\n            \n            \n            const time = new Date(msg3.payload[i].packet_sent + 2*3600000)\n            time_string = time.getHours() + \":\" + time.getMinutes() + \":\" + time.getSeconds();\n            \n            \n            node_string[j] =  mac_string.concat(\"--\",Min_samples_string,\":\",Sample_cont_string,\":\",Max_samples_string,\"--\",\n            G1_std_lim_string,\":\",G2_std_lim_string,\":\",G3_std_lim_string,\":\",G4_std_lim_string,\"--\",\n            G1_cont_lim_string,\":\",G2_cont_lim_string,\":\",G3_cont_lim_string,\":\",G4_cont_lim_string,\"--\",\n            Trig_level_string,\":\",Start_delay_string,\"--\",\n            Trig_ch0_string,\":\",Trig_ch1_string,\":\",Amp_trig_string,\":\",Amp_logging_string,\"--\",time_string,\"\\n\");\n        \n            j++\n \n            \n        }\n\n    \n    }\n    \n}\n\nvar table_string = node_string.sort().join(\"\\n\");\nvar sort_mac_array = mac_array.sort();\n\n\nvar string = {payload: table_string};\nvar sorted_mac_array = {payload: sort_mac_array};\n\n//flow.set('sorted_mac_array',sorted_mac_array);\n\n\nreturn [string, sorted_mac_array ,msg3.payload[0]];\n\n","outputs":"3","noerr":0,"x":505.2499771118164,"y":643.9643001556396,"wires":[["d9d9fbd5.0f9348"],[],[]]},{"id":"d9d9fbd5.0f9348","type":"ui_text","z":"d9a3cf01.4369a","group":"bff671af.4e1f7","order":0,"width":"15","height":"7","name":"Param table","label":"","format":"{{msg.payload}}","layout":"row-left","x":743.7498779296875,"y":635.0396342277527,"wires":[]},{"id":"3e039a42.794f16","type":"debug","z":"d9a3cf01.4369a","name":"","active":false,"console":"false","complete":"false","x":772.6744842529296,"y":311.89933776855463,"wires":[]},{"id":"8cb14dc8.84ff1","type":"debug","z":"d9a3cf01.4369a","name":"","active":false,"console":"false","complete":"payload","x":516.9642639160156,"y":589.0381526947021,"wires":[]},{"id":"a92bf06e.c46ef","type":"buffer-array","z":"d9a3cf01.4369a","name":"","bufferLen":"19","startWhenFilled":false,"x":316.8343963623047,"y":534.8254528045654,"wires":[["d471c81f.dc6128","a05de3c1.38bb4"]]},{"id":"a05de3c1.38bb4","type":"debug","z":"d9a3cf01.4369a","name":"","active":false,"console":"false","complete":"payload","x":513.9853363037109,"y":439.43990325927734,"wires":[]},{"id":"9e4f9d80.fe011","type":"buffer-array","z":"d9a3cf01.4369a","name":"","bufferLen":"101","startWhenFilled":false,"x":301.44886016845703,"y":648.5795283317566,"wires":[["8cb14dc8.84ff1","16f998e5.439a77"]]},{"id":"6db75fc.82836a","type":"buffer-array","z":"d9a3cf01.4369a","name":"","bufferLen":"101","startWhenFilled":false,"x":302.8774719238281,"y":280.00810146331787,"wires":[["732ab52f.6a27cc","c25637e.17a01c8"]]},{"id":"732ab52f.6a27cc","type":"debug","z":"d9a3cf01.4369a","name":"","active":true,"console":"false","complete":"payload","x":518.2710702078682,"y":173.7094007219587,"wires":[]},{"id":"f3ea2722.92c888","type":"link in","z":"d9a3cf01.4369a","name":"aux in","links":["deb15fc5.64892"],"x":128.26703643798828,"y":281.7248115539551,"wires":[["6db75fc.82836a"]]},{"id":"77ab5b6c.8eb924","type":"link in","z":"d9a3cf01.4369a","name":"event in","links":["d0c78ee.266ba7"],"x":126.84251689910889,"y":531.7126312255859,"wires":[["a92bf06e.c46ef"]]},{"id":"9030f699.101e58","type":"link in","z":"d9a3cf01.4369a","name":"param in","links":["2d8b9db0.7c71f2"],"x":122.55680704116821,"y":647.4310035705566,"wires":[["9e4f9d80.fe011"]]},{"id":"1e48bd50.ac6533","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":6,"width":0,"height":0,"label":"Enable fast charge","color":"","bgcolor":"","icon":"","payload":"14","payloadType":"num","topic":"","x":1115.71435546875,"y":765.7142944335938,"wires":[["ae9576a6.212d88"]]},{"id":"dc685e9f.2bf2d","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":7,"width":0,"height":0,"label":"Disable fast charge","color":"","bgcolor":"","icon":"","payload":"13","payloadType":"num","topic":"","x":1115.7142639160156,"y":810.0000076293945,"wires":[["ae9576a6.212d88"]]},{"id":"13c64fa4.b9d45","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":8,"width":0,"height":0,"label":"DAC trigg ref","color":"","bgcolor":"","icon":"","payload":"15","payloadType":"num","topic":"","x":1157.1428756713867,"y":854.2857093811035,"wires":[["ae9576a6.212d88"]]},{"id":"c7fc2410.dca9c8","type":"ui_button","z":"d9a3cf01.4369a","name":"","group":"8dc4f73e.b970c8","order":9,"width":0,"height":0,"label":"VDD trigg ref","color":"","bgcolor":"","icon":"","payload":"16","payloadType":"num","topic":"","x":1157.1428756713867,"y":894.2857093811035,"wires":[["ae9576a6.212d88"]]},{"id":"c913389b.8f7e58","type":"ui_group","z":"","name":"AUX data","tab":"b9758a87.2dbf98","order":2,"disp":true,"width":"14"},{"id":"8dc4f73e.b970c8","type":"ui_group","z":"","name":"Send command to EDGE","tab":"b9758a87.2dbf98","order":1,"disp":true,"width":"6"},{"id":"9c73b891.7a8378","type":"ui_group","z":"","name":"Last events","tab":"b9758a87.2dbf98","order":3,"disp":true,"width":"9"},{"id":"bff671af.4e1f7","type":"ui_group","z":"","name":"Prosessing parameters","tab":"b9758a87.2dbf98","order":4,"disp":true,"width":"15"},{"id":"b9758a87.2dbf98","type":"ui_tab","z":"","name":"RMAD Rasta","icon":"dashboard"}]